kind: Secret
apiVersion: v1
metadata:
  name: "{{ kubeadmincreds_secret_name }}"
  namespace: "{{ acm_cluster_name }}"
  labels:
    hive.openshift.io/cluster-deployment-name: "{{ cluster_name }}"
    hive.openshift.io/cluster-provision-name: "{{ kubeadmincreds_provision_name }}"
    hive.openshift.io/secret-type: kubeadmincreds
data:
  password: >-
    {{ oc_sa_token | b64encode }}
stringData:
  username: "Change Me"
type: Opaque