kind: Secret
apiVersion: v1
metadata:
  name: "{{ cluster_name }}-cluster-secret"
  namespace: "{{ acm_cluster_name }}"
  labels:
    apps.open-cluster-management.io/cluster-name: "{{ cluster_name }}"
    apps.open-cluster-management.io/cluster-server: "api.{{ cluster_name }}.{{ base_domain }}"
    apps.open-cluster-management.io/secret-type: acm-cluster
    argocd.argoproj.io/secret-type: cluster
data:
  config: {{ acm_cluster_config | to_json | b64encode}}
  name: {{ acm_cluster_name | b64encode }}
  server: {{ K8S_AUTH_HOST | b64encode}}
type: Opaque